/*Style*/
#footer
{
	margin-top: 5em;
}

.grayscale{ 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .2s ease;  /* Transition for Webkit browsers */
}

.grayscale:hover{ 
	border: 1px solid gray;
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

.brightness{
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
    -webkit-transition: all .6s ease;
}

.brightness:hover{
    filter: brightness(1);
    -webkit-filter: brightness(1);
    -webkit-transition: all .4s ease;
}

#renglon_index h2 span:hover, h3 span:hover{
	text-shadow: 2px 2px #cdcdcd;
}

/*Maps Style*/
.map {
        min-width: 300px !important;
        min-height: 300px !important;
        width: 100% !important;
        height: 100% !important;
    }

    .header {
        background-color: #F5F5F5 !important;
        color: #36A0FF !important;
        height: 70px !important;
        font-size: 27px !important;
        padding: 10px !important;
    }


/*query media*/

@media(max-width:767px){
	#logo img
	{
		margin-top: 0em !important;
		width: 4em !important;
		padding: 0px !important;
		margin: 0px !important;

	}
	
	#footer 
	{
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
    }
}
@media(min-width:768px){
	#logo img
	{
		margin-top: 0em !important;
		width: 4em !important;
		padding: 0px !important;
		margin: 0px !important;
	}
}		
@media(min-width:992px){
	#logo img
	{
		margin-top: 20em;
	}
}
@media(min-width:1200px){
	
}